@import "../theme/variables";
@import "~bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
  background: radial-gradient(
    ellipse at bottom,
    $body-bg-dark-blue 0%,
    $gray-900 100%
  );
}