@import '../../../theme/variables';

.q-shadow {
    box-shadow: 5px 4px 18px $info;
}

.copy-element {
    cursor: pointer;
}

.copy-element:hover {
    color: $info;
}

.tooltip-copyed {
    color: $green;
}